/* additional CSS styling sheet (separate to framework) */

:root {
  --non-favourited: #808080;
  --favourited: #f00;
  --favourited-bg: #faa;
  --light-bg: #fff;
  --purplish: #515ada;
  --deep-purple: #6a5acd;
  --light-purple: #efd5ff;
  --box-shadow-light: 1px 3px 6px 0 rgb(0 0 0 / 20%),
    0 6px 20px 0 rgb(0 0 0 / 18%);
  --box-shadow-dark: 1px 2px 4px rgb(0 0 0 / 50%);
  --polaroid-border: #f8f8f6;
  --slider-bg: #ccc;
  --slider-blue: #2196f3;
  --background-gradient: linear-gradient(
    0deg,
    var(--light-purple) 0%,
    var(--purplish) 100%
  );
  --img-border: #aeb3eb;
  --pulse-colour: #b8daf0;
  --purple-transparent: #6a5acd55;
}
/* from ending-style.css */

.ending-results {
  background-color: var(--light-bg);
  padding: 2px 1rem !important;
}

.popper {
  width: 240px;
}

.party-popper {
  height: 160px;
}

.achievement-sub {
  font-size: 0.9rem;
  margin: 2px;
}

p {
  margin: 0.2rem;
}

a {
  margin: 0.2rem;
}

/* end of ending-style.css */
html{
  background: var(--background-gradient);
}

body {
  text-align: center;
  margin: 0;
  padding: 0;
}

#main-app {
  padding: 0;
  margin: 0;
}

#app-loading {
  min-height: 100vh;
  background: linear-gradient(
    0deg,
    var(--light-purple) 0%,
    var(--purplish) 100%
  );
  color: var(--light-bg);
}

article {
  margin: 1rem 0;
  padding: 1rem;
}

select {
  max-width: 50%;
  text-align: center;
}

.strong {
  font-weight: bold;
}

/* loading images */
#loading-image-container {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  overflow-x: auto;
  white-space: nowrap;
  height: 100px;
  padding: 10px;
}

/* results cards */
.app-card-row {
  background: linear-gradient(
    0deg,
    var(--light-purple) 0%,
    var(--purplish) 100%
  );
  padding-top: 0.25rem;
}

.affirmation {
  background: transparent;
  font-size: 1rem;
  font-style: italic;
  color: var(--light-purple);
}

.app-row {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 4rem;
}

.summary-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0.2rem;
  justify-content: center;
  align-content: center;
}

.app-card {
  box-sizing: border-box;
  margin-top: 1rem;
  width: 100%;
  background-color: var(--light-bg);
  box-shadow: var(--box-shadow-light);
}

.app-card-ending {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin: 0.2rem;
  padding: 2px;
  width: 95%;
  background-color: var(--light-bg);
  box-shadow: var(--box-shadow-light);
}

.polaroid {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
  padding: 0;
  width: 100%;
  background-color: var(--polaroid-border);
  box-shadow: var(--box-shadow-dark);
  border-radius: 5px;
  margin: 10px 0;
  transition: transform 0.3s ease;
}

.polaroid-ending {
  padding: 3px 0;
  margin: 2px 0;
  width: 95%;
  height: 100%;
}

.polaroid-img {
  height: 240px;
  object-fit: cover !important;
  border-radius: 3px;
  max-width: 100%;
  transition: transform 0.3s ease;
}

.polaroid-img-ending{
  height: 120px;
  padding: 2px;
  object-fit: cover !important;
  max-width: 100%;
}

.animal-info-url {
  color: var(--deep-purple);
  font-size: 1.1rem;
  margin-top: 0.3rem;
}

.animal-info-url-ending {
  font-size: 0.9rem;
}

.button-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.summary-button {
  font-size: 24px;
  padding: 4px 10px;
}

.favourited {
  color: var(--favourited);
  background-color: var(--favourited-bg);
  border-color: var(--favourited);
}

.non-favourited {
  color: var(--non-favourited);
  background-color: var(--light-bg);
  border-color: var(--non-favourited);
}

.fav-icon{
  color: var(--favourited);
  margin: 0 2px;
}

.card-question {
  font-size: 0.8rem;
  font-weight: bold;
  margin: 5px 0;
}

.user-comment {
  font-size: 0.8rem;
  line-height: normal;
  margin: 2px;
  padding: 2px;
}

.summary-comment {
  font-size: 0.8rem;
  margin: 2px;
}

.invisible-element {
  display: none;
}

.slider-emoji {
  font-size: 1rem;
}

.secondary {
  transition: 300ms;
}

/* favourites page */
.favourites-board{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.polaroid-favourite {
  margin: 5px 0;
}

.app-card-favourite {
  margin: 1rem 0;
  width: 100%;
}

/* a:hover {
  transform: scale(1.2);
  transition: 100ms linear;
  transition-duration: 100ms;
} */

/* Sidebar */
aside {
  background-color: var(--light-bg);
}

#app-sidebar {
  display: none;
}

#nav-burger {
  position: fixed;
  left: 0;
}

/* text item formatting */

.align-left {
  float: left;
}

.align-right {
  float: right;
}


footer {
  margin: 0;
  padding: 1rem !important;
}

#nav-btns-footer, #nav-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5rem;
  list-style-type: none;
}

#nav-btns {
  justify-content: start;
  margin-left: 0;
}

ul li {
  list-style: none;
  padding: 4px 8px;
}

#image-modal-content {
  box-sizing: border-box;
  max-height: 92vh;
  max-width: 92vh;
}

/* Toggle switch by W3 Schools */

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 27px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  inset: 0;
  background-color: var(--slider-bg);
  transition: 0.4s;
}

.slider::before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 2px;
  bottom: 4px;
  background-color: var(--light-bg);
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--slider-blue);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--slider-blue);
}

input:checked + .slider::before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round::before {
  border-radius: 50%;
}

/* end of slider */

/* ============================================================================= */
/* Range Slider */
/* ============================================================================= */
#final-zen-query{
  max-width: 80vw;
  margin: auto;
}

/* This is for the track */
.zen-slider::-webkit-slider-runnable-track {
  background: var(--purplish);
  height: 10px;
  border: none;
}

.zen-slider::-moz-range-track {
  background: var(--purplish);
  height: 10px;
  border: none;
}

/* This is for the thumb */
.zen-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 30px;
  width: 30px;
  background: var(--deep-purple);
  border-radius: 50%;
  cursor: pointer;
  margin-top: -10px; /* You need to specify a margin for Chrome :/ */
}

.zen-slider::-moz-range-thumb {
  height: 30px;
  width: 30px;
  background: var(--deep-purple);
  border-radius: 50%;
  cursor: pointer;
}

/* This is for IE */
.zen-slider::-ms-track {
  background: transparent;
  border-color: transparent;
  color: transparent;
}

.zen-slider::-ms-thumb {
  height: 30px;
  width: 30px;
  background: var(--deep-purple);
  border-radius: 50%;
  cursor: pointer;
}

.zen-slider::-ms-fill-lower,
.zen-slider::-ms-fill-upper {
  background: var(--purplish);
}

#zen-level{
  margin: 0.5rem auto 2rem;
}


/* ============================================================================= */
/* End of Range Slider */
/* ============================================================================= */

.pulsing-button {
  background-color: var(--light-bg);
  animation: pulse-animation 2s infinite;
}

@keyframes pulse-animation {
  0% {
    background-color: var(--light-bg);
  }

  50% {
    background-color: #b8daf0;
  }

  100% {
    background-color: var(--light-bg);
  }
}
/* Confirmation Dialog Styling */
.modal-confirmation {
  text-align: center;
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--purple-transparent);
  }

  .modal-confirmation-content {
  font-size: 20px;
  font-weight: bold;
  background-color: var(--favourited-bg);
  margin: auto;
  padding: 20px;
  border: 1px solid var(--deep-purple);
  width: 80%;
  }

  .close-modal-confirmation {
  color:  var(--favourited);
  float: right;
  font-size: 40px;
  font-weight: bold;
  }

  .close-modal-confirmation:hover,
  .close-modal-confirmation:focus {
  color: var(--favourited);
  cursor: pointer;
  }

  .modal-confirmation-content button {
  border: none;
  border-radius: 4px;
  font-size: 18px;
  font-weight: bold;
  padding: 10px;
  }

  .yes-confirmation {
  background-color: var(--favourited);
  }

  .yes-confirmation:hover {
  background-color: var(--favourited-bg);
  }

  .cancel-confirmation {
    background-color: var(--deep-purple);
  }

  .cancel-confirmation:hover {
  background-color: var(--light-purple);
  }

@media screen and (min-width: 500px) {
  .affirmation {
    font-size: 1.5rem;
  }

  .app-card {
    width: 500px;
  }

  .app-card-favourite {
    width: 450px;
  }

  .polaroid {
    width: 440px;
    padding: 10px;
  }

  .polaroid-img {
    height: 360px;
  }

  .polaroid-favourite {
    width: 400px;
    padding: 10px;
  }

  .polaroid-img-favourite {
    height: 280px;
  }

  .slider-emoji {
    font-size: 1.7rem;
  }

  .card-question {
    font-size: 1.1rem;
    font-weight: bold;
    margin: 8px 0;
  }

  .user-comment {
    font-size: 1rem;
    margin: 5px;
  }
}