/* additional CSS styling sheet (separate to framework) */

body {
  text-align: center;
  background: linear-gradient(0deg, #efd5ff 0%, #515ada 100%);
  margin: 0;
  padding: 0;
}

#main-app {
  padding: 0;
  margin: 0;
}

#app-loading {
  min-height: 100vh;
  background: linear-gradient(0deg, #efd5ff 0%, #515ada 100%);
  color: white;
}

.grid {

}

.img-scale {
  border-radius: 50%;
  border: 10px solid #aeb3eb;
  width: 50%;
  margin-top: 30px;
  max-width: 400px;
}

select {
  max-width: 50%;
  text-align: center;
}

.strong {
  font-weight: bold;
}

/* loading images */
#loading-image-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  overflow-x: auto;
  white-space: nowrap;
  height: 100px;
  padding: 10px;
}

/* results cards */
.app-row {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 4rem;
  background: linear-gradient(0deg, #efd5ff 0%, #515ada 100%);
}

.app-card {
  box-sizing: border-box;
  width: 100%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.top-right-button {
  margin-bottom: 15px;
  float: right;
  
.polaroid {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
  padding: 0;
  width: 100%;
  background-color: #f8f8f6;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  margin: 10px 0;
  transition: transform 0.3s ease;
}

.polaroid-img {
  height: 240px;
  object-fit: cover !important;
  border-radius: 3px;
  max-width: 100%;
  transition: transform 0.3s ease;
}

.animal-caption {
  font-size: 1rem;
  margin: 2px;
  color: #515ada;
}

.card-question {
  font-size: 0.8rem;
  font-weight: bold;
  margin: 5px 0;
}

.user-comment {
  font-size: 0.8rem;
  line-height: normal;
  margin: 2px;
  padding: 2px;
}

.invisible-element {
  display: none;
}

.slider-emoji {
  font-size: 1rem;
}

/* 
.favourite {
  margin-bottom: 5px;
} */

/* animations */

.secondary {
  transition: 300ms;
}

a:hover {
  transform: scale(1.2);
  transition: 100ms linear;
  transition-duration: 100ms;
}

/* Sidebar */

aside {
  background-color: white;
}

#nav-burger {
  position: fixed;
  left: 0;
}

.ending-results {
  background-color: white;
  padding: 20px;
}

#sidebar2 {
  float:right;
  width: 25%;
  margin: 2%;
  padding: 5px;
  padding-left: 50px;
  top: 0;
  margin-top: 20px;
  }

/* text item formatting */

.align-left {
  float: left;
}

.text-center {
  text-align: center;
}

.align-right {
  float: right;
}

/* for testing only */

.test {
  width: 300px;
  margin-bottom: 10px;
}

.slider {
  position: relative;
}


/* Toggle switch by W3 Schools */

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider::before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider::before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.pulsing-button {
  background-color: #fff;
  animation: pulse-animation 2s infinite;
}

@keyframes pulse-animation {
  0% {
    background-color: #fff;
  }

  50% {
    background-color: #b8daf0;
  }

  100% {
    background-color: #fff;
  }
}

@media screen and (min-width: 500px) {
  .app-card {
    width: 500px;
  }

  .polaroid {
    width: 440px;
    padding: 10px;
  }
  .polaroid-img {
    height: 360px;
  }

  .slider-emoji {
    font-size: 1.7rem;
  }

  .card-question {
    font-size: 1rem;
    font-weight: bold;
    margin: 8px 0;
  }

  .user-comment {
    font-size: 1rem;
    margin: 5px;
  }
}
